* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  background-color: gray;
}

/* --Nav Bar --*/
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 0.7em;
}

.navbar h1 {
  font-size: 1.9em;
  padding-left: 4%;
}

.nav_link {
  margin-right: 2em;
}

.nav_list {
  display: flex;
  width: 50%;
}

/* --Card--*/

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 1.5em;
  min-height: 5em;
  width: 90%;
  background-color: white;
  padding: 1em;
}

.main_tile,
.chapter_tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27%;
}

.main_tile h1 {
  font-size: 1.3em;
  padding-bottom: 0.4%;
}

.main_tile h2 {
  color: lightblue;
  padding-bottom: 2.5%;
}

.book_genre {
  color: gray;
}

.book_button_list {
  list-style: none;  
  display: flex;
}

.book_button_list a {
  text-decoration: none;
}

.book_button_list li {
  margin-right: 2.5%;
}

.completed_tile {
  display: flex;
  justify-content: space-around;
  width: 15%;
  align-items: center;
}

.completed_tile_content h1 {
  font-size: 1.2em;
  padding-bottom: 0.4%;
}

.chapter_tile h4 {
  color: gray;
}

.chapter_tile button {
  width: 55%;
  font-size: 0.7em;
  color: white;
  background-color: blue;
  border-style: none;
  padding: 0.5em;
}
